/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    background-color: aqua;
}

/* BODY */

/* Container */
.container {
    width: 90vw;
    height: 95vh;
    margin: 2.5vh auto;
    display: flex;
    /* Debug */
    background-color: lightcoral;
}
/* Left-side */
.left-side {
    width: 30%;
    /* Debug */
    height: 100%;
    background-color: yellow;
    border: 10px solid black;

}

/* My Info */
.my-info {
    display: flex;
    justify-content: space-between;
    /* Debug */
    height: 10%;
    background-color: red; 
    border: 2px solid black;
}

.my-pfp {
    /* Debug */
    height: 100%;
    width: 20%;
    background-color: gray;
}

.toolbar {
    /* Debug */
    height: 100%;
    width: 40%;
    background-color: gray;
}

/* Notification */
.notification {
    /* Debug */
    height: 12%;
    background-color: green; 
    border: 2px solid black;
}

/* Research */
.research {
    /* Debug */
    height: 8%;
    background-color: white; 
    border: 2px solid black;
}

/* Chats list */
.chats-list {
    display: flex;
    flex-direction: column;
    /* Debug */
    height: 70%;
    gap: 1rem;
}
.single-chat {
    /* Debug */
    width: 100%;
    height: calc((100% / 7) - (6rem / 7));
    background-color: lightblue;
}
/* Right-side */
.right-side {
    width: 70%;
    /* Debug */
    height: 100%;
    background-color: lightgray;
    border: 10px solid black;
    border-left: 0px;
}

.contact-info {
    /* Debug */
    height: 10%;
    background-color: white; 
    border: 2px solid black;
}

.chat-space {
    /* Debug */
    height: 80%;
    background-color: red; 
    border: 2px solid black;
}

.writing-space {
    /* Debug */
    height: 10%;
    background-color: white; 
    border: 2px solid black;
}